In [4]:
#importing libraries
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

# to suppress warnings 
from warnings import filterwarnings
filterwarnings('ignore')

# display all columns of the dataframe
pd.options.display.max_columns = None

# display all rows of the dataframe
pd.options.display.max_rows = None
 
# to display the float values upto 6 decimal places     
pd.options.display.float_format = '{:.6f}'.format

# import train-test split 
from sklearn.model_selection import train_test_split

# import various functions from statsmodel to perform linear regression
import statsmodels
import statsmodels.api as sm
import statsmodels.stats.api as sms
from statsmodels.tools.eval_measures import rmse
from statsmodels.compat import lzip
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.tsa.api as smt
from statsmodels.graphics.gofplots import qqplot
from statsmodels.stats.anova import anova_lm
from statsmodels.formula.api import ols

# import various functions from scipy
from scipy import stats
from scipy.stats import shapiro
from scipy.stats import jarque_bera
from scipy.stats import f_oneway

# 'metrics' from sklearn is used for evaluating the model performance
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

### 1. Write a code to load the dataset and display the first five observations

In [3]:
#load the csv file
#store the data in 'youtube_views'
youtube_views = pd.read_csv("train.csv")

#display first five observations using head()
youtube_views.head()

,Video_id,category_id,channel_title,subscriber,title,tags,description,Trend_day_count,Tag_count,Trend_tag_count,comment_count,comment_disabled,like dislike disabled,likes,dislike,tag appered in title,views,Unnamed: 17,Unnamed: 18
0,HDR9SQc79,22,CaseyNeistat,9086142.000000,WE WANT TO TALK ABOUT OUR MARRIAGE,SHANtell martin,SHANTELL'S CHANNEL - https://www.youtube.com/s...,6.000000,21,6,,FALSE,FALSE,13342,6089,False,1978978,NaN,NaN
1,KNH52UF?48,24,LastWeekTonight,5937292.000000,The Trump Presidency: Last Week Tonight with J...,last week tonight trump presidency|last week t...,"One year after the presidential election, John...",1.000000,23,1,116266,TRUE,FALSE,5761,3044,False,1487870,NaN,NaN
2,QTW28IRG36,23,Rudy Mancuso,4191209.000000,"Racist Superman | Rudy Mancuso, King Bach & Le...",racist superman|rudy|mancuso|king|bach|racist|...,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...,10.000000,22,3,257850,TRUE,TRUE,0,0,True,1502102,NaN,NaN
3,MGL76WI]26,24,Good Mythical Morning,13186408.000000,Nickelback Lyrics: Real or Fake?,rhett and link|gmm|good mythical morning|rhett...,Today we find out if Link is a Nickelback amat...,12.000000,17,5,263939,TRUE,TRUE,0,0,True,3519302,NaN,NaN
4,TWP93KXT70,24,nigahiga,20563106.000000,I Dare You: GOING BALD!?,ryan|higa|higatv|nigahiga|i dare you|idy|rhpc|...,I know it's been a while since we did this sho...,11.000000,15,7,268085,TRUE,TRUE,0,0,True,4835374,NaN,NaN

### 2. Write a code to remove unique columns from the respective dataframe and display first 10 observations

In [3]:
#removing all unique columns with the help of drop function.
youtube_views.drop(['Video_id', 'channel_title', 'title', 'tags','description' , 'Unnamed: 17','Unnamed: 18'], axis = 1, inplace = True)

#displaying first 10 observation
youtube_views.head(10)

,category_id,subscriber,Trend_day_count,Tag_count,Trend_tag_count,comment_count,comment_disabled,like dislike disabled,likes,dislike,tag appered in title,views
0,22,9086142.000000,6.000000,21,6,,FALSE,FALSE,13342,6089,False,1978978
1,24,5937292.000000,1.000000,23,1,116266,TRUE,FALSE,5761,3044,False,1487870
2,23,4191209.000000,10.000000,22,3,257850,TRUE,TRUE,0,0,True,1502102
3,24,13186408.000000,12.000000,17,5,263939,TRUE,TRUE,0,0,True,3519302
4,24,20563106.000000,11.000000,15,7,268085,TRUE,TRUE,0,0,True,4835374
5,28,4652602.000000,10.000000,9,1,198248,TRUE,FALSE,8619,3697,True,1580238
6,24,5292034.000000,4.000000,17,5,,FALSE,FALSE,9951,937,False,1204461
7,28,10474796.000000,9.000000,14,7,103280,TRUE,FALSE,18010,11026,True,2542878
8,1,2453494.000000,8.000000,20,1,214583,TRUE,FALSE,12126,7855,True,1090597
9,25,3808198.000000,11.000000,8,2,223434,TRUE,TRUE,0,0,True,1407313

### 3. Write a python code to check the dimension of data.

In [4]:
youtube_views.shape

(3198, 12)

### 4. Check the summary of the data

In [5]:
youtube_views.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3198 entries, 0 to 3197
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   category_id            3192 non-null   object
 1   subscriber             3175 non-null   float64
 2   Trend_day_count        3197 non-null   float64
 3   Tag_count              3197 non-null   object
 4   Trend_tag_count        3197 non-null   object
 5   comment_count          3198 non-null   object
 6   comment_disabled       3198 non-null   object
 7   like dislike disabled  3198 non-null   object
 8   likes                  3198 non-null   object
 9   dislike                3198 non-null   object
 10  tag appered in title   3197 non-null   object
 11  views                  3198 non-null   object
dtypes: float64(2), object(10)
memory usage: 299.9+ KB

In [6]:
youtube_views  = youtube_views.dropna()

In [7]:
youtube_views  = youtube_views.astype({'views':int,'likes':int,'dislike':int})

In [8]:
youtube_views.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3165 entries, 0 to 3197
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   category_id            3165 non-null   object
 1   subscriber             3165 non-null   float64
 2   Trend_day_count        3165 non-null   float64
 3   Tag_count              3165 non-null   object
 4   Trend_tag_count        3165 non-null   object
 5   comment_count          3165 non-null   object
 6   comment_disabled       3165 non-null   object
 7   like dislike disabled  3165 non-null   object
 8   likes                  3165 non-null   int32
 9   dislike                3165 non-null   int32
 10  tag appered in title   3165 non-null   object
 11  views                  3165 non-null   int32
dtypes: float64(2), int32(3), object(7)
memory usage: 284.4+ KB

### 5. Write a  code to check which varibales are numeric in the respective dataframe

In [9]:
#storing all the numeric data in 'df_numeric_features'
#select_dtypes() selects the datatype 
df_numeric_features = youtube_views.select_dtypes(include=[np.number])

# display the first five observations
df_numeric_features.head()

       subscriber  Trend_day_count  likes  dislike    views
0  9086142.000000         6.000000  13342     6089  1978978
1  5937292.000000         1.000000   5761     3044  1487870
2  4191209.000000        10.000000      0        0  1502102
3 13186408.000000        12.000000      0        0  3519302
4 20563106.000000        11.000000      0        0  4835374

### 6. Write a  code to check which varibales are categorical in the respective dataframe

In [10]:
#storing all the numeric data in 'df_categorical_features'
#select_dtypes() selects the datatype 

df_categorical_features = youtube_views.select_dtypes(include=[np.object])

# display categorical features
df_categorical_features.head()

AttributeError: module 'numpy' has no attribute 'object'.
`np.object` was a deprecated alias for the builtin `object`. To avoid this error in existing code, use `object` by itself. Doing this will not modify any behavior and is safe.
The aliases was originally deprecated in NumPy 1.20; for more details and guidance see the original release note at:
    https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

### 7. Write a function to convert following columns 'Tag_count', 'likes', 'dislike', 'views', 'comment_count', 'Trend_tag_count' to numeric.

In [ ]:
#creating a function 'imputeTrainNull'
#pd.to_numeric converts respective column to numeric data

def imputeTrainNull(data):    
    data.Trend_day_count = pd.to_numeric(data.Trend_day_count, errors='coerce')
    data.Tag_count = pd.to_numeric(data.Tag_count, errors='coerce')
    data.likes = pd.to_numeric(data.likes, errors='coerce')
    data.dislike = pd.to_numeric(data.dislike, errors='coerce')
    data.views = pd.to_numeric(data.views, errors='coerce')
    data.comment_count = pd.to_numeric(data.comment_count, errors='coerce')
    data.Trend_tag_count = pd.to_numeric(data.Trend_tag_count, errors='coerce')
    print(data.isnull().sum())

#passing the youtube_views to respective function    
#calling function    
imputeTrainNull(youtube_views)

### 8. Check the new count of numeric variables

In [ ]:
#storing all the numeric data in 'df_numeric_features'
#select_dtypes() selects the datatype 
#checking the new count after conversion

df_numeric_features =  youtube_views.select_dtypes(include=[np.number])

df_numeric_features.head()
#df_categorical_features

### 9. Check the new count of categorical variables

In [ ]:
#storing all the numeric data in 'df_categorical_features'
#select_dtypes() selects the datatype 
#checking the new count after conversion

df_categorical_features = youtube_views.select_dtypes(include=[np.object])

# display categorical features
df_categorical_features.head()

### 10. With the help of boxplot see which variables have highest outliers. Title should be 'Boxplot of numeric varibales'

In [ ]:
plt.figure(figsize=(12,7))
df_numeric_features.boxplot()
plt.title('Boxplot of numeric variables')
plt.xticks(rotation = 'vertical')
plt.show()

In [ ]:
fig,axs = plt.subplots(3, 1, figsize=(15,13))

plt1 = sns.boxplot(youtube_views['likes'], ax = axs[0])
plt1 = sns.boxplot(youtube_views['subscriber'], ax = axs[1])
plt1 = sns.boxplot(youtube_views['views'], ax = axs[2])
plt.show()

In [ ]:
#set the plot size using figure() 
plt.figure(figsize = (12,7))

# plot a boxplot to visualize the outliers
df_numeric_features.boxplot()

#set the title
plt.title('Boxplot of numeric variables', fontsize = 13)

# xticks(ticks) gives the x-axis tick values
plt.xticks(rotation = 'vertical', fontsize = 13)

# display the plot
plt.show()

### 11. Write a function to replace NA values with preceding values for following column 'comment_disabled', 'like dislike disabled', 'category_id', 'tag appered in title'

In [ ]:
#creating a function 'imputepreceding_values' to fill with na values
#fillna method fills all the missing values with preceding value
#
def imputepreceding_values(data):
    
    data.comment_disabled.fillna(method ='ffill', inplace=True)
    data['like dislike disabled'].fillna(method ='ffill', inplace=True)
    data.category_id.fillna(method ='ffill', inplace=True)
    data['tag appered in title'].fillna(method ='ffill', inplace=True)
    print(data.isnull().sum())
    
#calling a function
#passing the dataset (youtube_views)
imputepreceding_values(youtube_views)

### 12. Write a function to replace NA values with median for following column 'Trend_day_count', 'Tag_count', 'Trend_tag_count', 'comment_count', 'likes', 'dislike', 'views', 'subscriber'

In [ ]:
#creating a function 'impute_median_values'
#fillna method fills all the missing values with preceding value

def impute_median_values(data):
    data.Trend_day_count.fillna(data.Trend_day_count.median(), inplace=True)
    data.Tag_count.fillna(data.Tag_count.median(), inplace=True)
    data.Trend_tag_count.fillna(data.Trend_tag_count.median(), inplace=True)
    data.comment_count.fillna(data.comment_count.median(), inplace=True)
    data.likes.fillna(data.likes.median(), inplace=True)
    data.dislike.fillna(data.dislike.median(), inplace=True)
    data.views.fillna(data.views.median(), inplace=True)
    data.subscriber.fillna(data.subscriber.median(), inplace=True) 
    print(data.isnull().sum())

#calling a 'function
impute_median_values(youtube_views)

### 13. Write a function to treat ouliers (use z-score) also check the skewness of the data

In [ ]:
def handleOutliers(data):
     #include all numeric data
    df_num = data.select_dtypes(include=['int64','float64' ])
    
    # #calculating z-score by passing all numeric varibale
    z = np.abs(stats.zscore(df_num))
    
    #threshold = 3
    x= np.where(z > 3)
    
    #droping the variables 
    data.drop(data.index[x[:1]], inplace=True)
    
    #printing the skewness of each variable
    print(df_num.skew())
    

#calling the function
handleOutliers(youtube_views)

### 14. Write a code to reset all the new values that are changed by outliers

In [ ]:
#reset_index allows you to reset all the values
youtube_views = youtube_views.reset_index(drop = True)

### 15. Use cube root tranformation to treat skewness of columns 'views' and 'subscriber' and again check the skewness

In [ ]:
youtube_views.views = ((youtube_views.views) ** (1/3))
youtube_views.subscriber = ((youtube_views.subscriber) ** (1/3))

In [ ]:
youtube_views.skew()

### 16. Write a python code to detect missing values and store it in 'Total' variable and display it in descending order

In [ ]:
#isnull().sum() returns the number of missing values in each variable
#ascending = False sorts values in the descending order
Total = youtube_views.isnull().sum().sort_values(ascending=False) 
Total

### 17. Display the missing values in the form of percentage in descending manner

In [ ]:
#ascending = False sorts the values in the descending order
Percentage = (youtube_views.isnull().sum()*100/youtube_views.isnull().count()).sort_values(ascending=False)   

#concat the 'Total' and 'Percentage' columns using concat()
missing_data = pd.concat([Total, Percentage], axis=1, keys=['Total', 'Percentage of Missing Values'])    
missing_data

### 18. Write a code to convert following columns 'tag appered in title' and 'category_id' into 'object' data type

In [ ]:
#convert 'tag appered in title' into datatype object
youtube_views['tag appered in title'] = youtube_views['tag appered in title'].astype('object')

#convert 'category_id' into datatype object
youtube_views['category_id'] = youtube_views['category_id'].astype('object')

### 19. Write a code to convert following columns 'comment_disabled' and 'like dislike disabled' into 'string' data type

In [ ]:
#convert 'comment_disabled' into datatype string
youtube_views['comment_disabled'] = youtube_views['comment_disabled'].astype('str')

#convert 'like dislike disable' into datatype string
youtube_views['like dislike disabled'] = youtube_views['like dislike disabled'].astype('str')

### 20. Write a code to convert following columns 'comment_disabled' and 'like dislike disabled' into lower case

In [ ]:
#Converting comment_disabled into lowercase
youtube_views.comment_disabled = youtube_views.comment_disabled.str.lower()

#Converting like dislike disabled into lowercase
youtube_views['like dislike disabled'] = youtube_views['like dislike disabled'].str.lower()

### 21. Extract all the numeric variables and store those variables in 'df_numeric_features' and display first five observation

In [ ]:
# filter the numerical features in the dataset
df_numeric_features = youtube_views.select_dtypes(include=[np.number])

# display the first five observations
df_numeric_features.head()

### 22. Extract all the categorical variables and see the change

In [ ]:
# filter the numerical features in the dataset
df_categorial_features = youtube_views.select_dtypes(include=[np.object])

# display the first five observations
df_categorial_features.head()

### 23. Write a python program to plot heatmap to check correlation between independent variables

In [ ]:
# set the plot size using figure()
# pass width and height in inches to 'figsize' 
plt.figure(figsize = (20,10))

# plot the heat map
# corr(): give the correlation matrix
sns.heatmap(df_numeric_features.corr(), annot = True, annot_kws = {"size": 11})

# rotation = 'horizontal' rotates the y-axis labels horizontally
# set text size using 'fontsize'
plt.yticks(rotation = 'horizontal', fontsize = 15)
plt.xticks(fontsize = 15)

# display the plot
plt.show()

### 40. Plot a  heatmap to identify the variables with a correlation greater than 0.6 and less than -0.6

In [ ]:
# pass width and height in inches to 'figsize' 
plt.figure(figsize = (20,10))

# plot the heat map
# corr(): give the correlation matrix

sns.heatmap(df_numeric_features.corr()[np.abs(youtube_views.corr()) > 0.6], annot = True, annot_kws = {"size": 11})

# rotate the y-axis labels
# set text size using 'fontsize'
plt.yticks(rotation = 'horizontal', fontsize = 15)
plt.xticks(fontsize = 15)

# display the plot
plt.show()

In [ ]:
plt.figure(figsize=(12,6))
sns.scatterplot(x = Iris['petal length in cm'],y = Iris['petal width in cm'],hue =Iris['outputs'])

In [ ]:
n = 9
d = [x for x in range(1, n) if x%2==0]

In [ ]:
d

In [ ]:
def even_number(n):
    d = [x for x in range(1, n) if x%2==0]
    return d 

n= int(input())
even_number(n)

create a function that takes list of numbers between 1 and 10(exluding one number) and return the missing number

In [ ]:
def  find_missing(n):
    y = [x for x in range(1,11) if x not in n]
    return y


l = [1,2,3,4,6,8,9,10]
find_missing(l)

In [ ]:
def find_missing_number(numbers):
    total_sum = sum(range(1, 11))
    given_sum = sum(numbers)
    missing_number = total_sum - given_sum
    return missing_number


input_list = [1, 2, 3, 5, 6, 7, 9, 10]  
missing_num = find_missing_number(input_list)
print("The missing number is:", missing_num)

In [ ]:
def calculate_net_amount(transactions):
    net_amount = 0

    for transaction in transactions:
        if transaction[0] == 'D':
            net_amount += int(transaction[1])
        elif transaction[0] == 'W':
            net_amount -= int(transaction[1])

    return net_amount

input_string = input("Enter the transaction log: ")
transactions = input_string.split()

net_amount = calculate_net_amount([(transactions[i], int(transactions[i+1])) for i in range(0, len(transactions), 2)])
print("Net amount:", net_amount)

In [ ]:
total = 0
while True:
    transaction = input()
    if transaction == "":
        break
    else:
        transaction = transaction.split(" ")
        if transaction[0] == "D":
            total = total + int(transaction[1])
        elif transaction[0] == "W":
            total = total - int(transanction[1])

print(total)

In [12]:
total = 0
while True:
    transaction = input()
    if transaction == "":
        break
    else:
        transaction = transaction.split(" ")
        if transaction[0] == "D":
            total = total + int(transaction[1])
        elif transaction[0] == "W":
            total = total - int(transanction[1])

print(total)

KeyboardInterrupt: Interrupted by user

In [32]:
netAmount = 0
while True:
    s = input()
    if not s:
        break
        
    values = s.split(" ")
    operation = values[0]
    amount = int(values[1])
    if operation=='D':
        netAmount+=amount
    elif operation=='W':
        netAmount-=amount
    else:
        pass
print(netAmount)

D 100
W 100
D 200
D 200

400